body{
    background-image: url(img/header-regis.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand";
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 40px 60px;
    gap: 80px;
    width: 100vw;
}

.login{
    padding: 30px;
    background-color: #fff2f2e6;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1{
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.login input[type="text"], input[type="password"]{
    padding: 10px;
    border: 1px solid #2d336b;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%; 
    height: 30px;
    box-sizing: border-box;
}

.form-floating input{
    display: flex;
    width: 50vh;
    height: fit-content;
}

#CTA{
    margin-top: 20px;
    background-color: #7886c7;
    color: #FFF5E4;
    border-color: #7886c7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 17px;
    width: 200px;
    height: 45px;
    box-shadow: 1px 1px 4px #000000;
    margin: 20px auto 0 auto;
}

#CTA:hover{
    background-color: #2d336b;
    border-color: #2d336b;
    color: #D6CFB4;
}

.regis{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.regis a{
    text-decoration: none;
    color:  #7886c7;
}

.regis a:hover {
    color: #2d336b;
    text-decoration: underline;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header img{
    width: auto;
    height: 100px;
}