#logo {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
  background: linear-gradient(to right,rgb(214, 203, 203), #A9B5DF);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  margin-bottom: 30px;
  margin-top: 0;
  height: 100px;
  position: sticky;
}

.logo-container img {
  height: 100px;
  width: auto;
  margin-right: 12px;
}

.logo-container span {
  font-size: 20px;
  font-weight: bold;
  color: #2d336b;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding-right: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #2d336b;
}

body {
  padding: 20px;
  background-color: #fff2f2;
  color: #333;
}

h2 {
  color: white;
}

p {
  margin: 10px 0;
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;
}